<% if (request.user.valid) { %>
    <label class="darkmode-toggle" title="Theme">
        <input class="checkbox" name="darkmode-toggle" type="checkbox" <%= request.user.attributes.dark ? 'checked="checked"' : '' %> />
        <span class="slider round"></span>
    </label>
<% } %>
<script type="text/javascript" src="<%= cacheBuster('js/darkmode-toggle.js') %>"></script>
